.hero{ 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    text-align: center;

}
.logo img{
    width: 150px;
    height: auto;
}

.nav-links button{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}
.container{
    max-width: 600px;
    margin: 0 auto;
}
.hero-content h1{
    font-size: 3em;
    margin-bottom: 20px;
}   
.hero-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
